<!DOCTYPE html>
<html lang="en">
    <head>
        <title><%=shopName%></title>
    </head>
    <body>
        <h1>About <%=shopName%> Shop</h1>
        <p>We sell all sorts of drinks</p>
    </body>
</html>