<!DOCTYPE html>
<html>
    <head>
        <title><%=shopName%></title>
        <link rel="stylesheet" href="/styles.css">
    </head>
    <body>
        <nav class="navbar">
            <div class="nav-left">
                <a href="/" id="selected">Home</a>
                <a href="/search">Search</a>
                <a href="/about">About</a>
            </div>

            <div class="nav-center">
                <span><%=shopName%></span>
            </div>

            <div class="nav-right">
                <a href="/register" class="btn">Register</a>
            </div>
        </nav>
        <h2>Here are some things that we sell:</h2>
        <div class="list">
            <ul>
                <% for(let i = 0; i < productCategories.length; i++) { %>
                    <li><%= productCategories[i] %></li>
                <% } %>
            </ul>
        </div>
        
    </body>
</html>