<!DOCTYPE html>
<html lang="en">
    <head>
        <title><%=shopName%></title>
        <link rel="stylesheet" href="/styles.css">
    </head>
    <body>
        <nav class="navbar">
            <div class="nav-left">
                <a href="/">Home</a>
                <a href="/search" id="selected">Search</a>
                <a href="/about">About</a>
            </div>

            <div class="nav-center">
                <span><%=shopName%></span>
            </div>

            <div class="nav-right">
                <a href="/register" class="btn">Register</a>
            </div>
        </nav>
        <h1>This is the search page of <a href="/"><%=shopName%></a> Shop</h1>
        <form action="/search_result" method="get">
            <p>Name:</p>
            <input id='search_box' type="text" name="search_text"><br>
            <p>Category:</p>
            <input id="search_box" type="text" name="category"><br>
            <input type="submit" value="Search">
        </form>
    </body>
</html>