body {
    font-family: Arial, sans-serif;
    background: #2f2f2f;
    margin: 0;
    padding: 0;
    color: white;
    text-align: center;
}

h1 {
    color: #fc0050;
}

a {
    color: #fc0050;
    text-decoration: none;
}

/* Styling for navbar */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1f1f1f;
    padding: 10px 20px;
    color: #fc0050;
}

.nav-left {
    display: flex;
    gap: 20px;
}

.nav-left a {
    color: #fc0050;
    background-color: #343434;
    font-weight: bold;
    text-decoration: none;
    padding: 8px 16px;
    border-radius: 5px;
    transition: color 0.5s, background-color 0.5s ease;
}

.nav-left a:hover {
    background-color: #fc0050;
    color: #1f1f1f;
    padding: 5px 10px;
    border-radius: 5px;
}

.nav-center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

.nav-right .btn {
    background-color: #343434;
    color: #fc0050;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    font-weight: bold;
    border-radius: 5px;
}

.navbar #selected {
    background-color: #fc0050;
    color: #1f1f1f;
    padding: 5px 10px;
    border-radius: 5px;
}

/* Styling for home page */
.list ul {
    list-style-position: inside;
    padding: 0;
    text-align: center;
    list-style-type: square;
    font-size: 18px;
}

.list ul li::marker {
    color: #fc0050;
}

/* Styling for about page */

/* Styling for register page */

.register-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
}

.register-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    justify-content: center;
    background-color: rgb(200, 183, 183);
    max-height: fit-content;
    padding: 20px 60px;
    border-radius: 15px;
}

.register-form h1 {
    margin-bottom: 18px;
    margin-top: 0px;
}

.register-form form {
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 10px;
    color: black;
}

/* Styling for search page */